HOME			= /etc/ssl/misc
RANDFILE		= $ENV::HOME/.rnd
[ ca ]
default_ca	= CA_default
[ CA_default ]
dir		= /etc/ssl/misc
certs		= $dir/certs
crl_dir		= $dir/crl
database	= $dir/db/index.txt
new_certs_dir	= $dir/certs
certificate	= $dir/certs/snakeoil.lo-SIGNcert.pem
database	= $dir/db/certindex.txt
serial		= $dir/db/serial
crlnumber	= $dir/crl/crlnumber
crl		= $dir/crl/crl.pem
private_key	= $dir/private/snakeoil.lo-SIGNcert-key.pem
RANDFILE	= $dir/private/.rand
x509_extensions	= usr_cert
name_opt 	= ca_default
cert_opt 	= ca_default
email_in_dn	= no
copy_extensions = copy
crl_extensions	= crl_ext
default_days	= 365
default_crl_days= 30
preserve	= no
default_md	= sha512
policy		= policy_match
[ policy_match ]
countryName		= match
stateOrProvinceName	= match
organizationName	= match
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional
subjectAltName		= optional
[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional
subjectAltName		= optional
[ req ]
default_bits		= 4096
default_md		= sha512
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
req_extensions		= v3_req
prompt			= no
encrypt_key		= no
string_mask		= utf8only
[ req_distinguished_name ]
countryName		= US
stateOrProvinceName	= Alaska
localityName		= Anchorage
organizationName	= snakeoil.lo
commonName		= wwwlab.snakeoil.lo
emailAddress		= postmaster@snakeoil.lo
[ usr_cert ]
basicConstraints=CA:FALSE
nsCertType = server
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
issuerAltName = issuer:copy
crlDistributionPoints = URI:https://www.snakeoil.lo/ca/crl.pem
[ crl_ext ]
authorityKeyIdentifier    =keyid:always,issuer:always
[ v3_req ]
keyUsage		= nonRepudiation, keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage	= serverAuth
subjectAltName		= @alt_names
[alt_names]
DNS.1 = snakeoil.lo
DNS.2 = *.snakeoil.lo
DNS.3 = wwwlab.snakeoil.lo
DNS.4 = 192.168.0.100
IP.1 = 192.168.0.100
